<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Schoodle</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="styles/custom.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="/moment/moment.js"></script>
    <script type="text/javascript" src="/eonasdan-bootstrap-datetimepicker/src/js/bootstrap-datetimepicker.js"></script>
    <!-- <script type="text/javascript" src="/scripts/app.js"></script> -->

    <!-- <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" /> -->

    <!-- <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" /> -->
    <!-- <link rel="stylesheet" href="/styles/layout.css" type="text/css" /> -->
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <nav class="navbar">
                <h1>Schoodle!</h1>
            </nav>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2>Step 2 of 4</h2>
                <h2>What are your options?</h2>
                <section class="main">


                    <div class="container">
                        <div class="row">
                            <div class='col-sm-6'>
                                <div class="form-group"><form method="POST" action="/eventOptions">
                                    <div class='input-group date' id='datetimepicker1'>
                                            <input type='text' class="form-control" placeholder="Choose your first option..." name="optionOne"/>
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <script type="text/javascript">
                                    $(function () {
                                        $('#datetimepicker1').datetimepicker();
                                    });
                                </script>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class='col-sm-6'>
                                    <div class="form-group">
                                        <div class='input-group date' id='datetimepicker2'>
                                            <input type='text' class="form-control" placeholder="Choose your second option..." name="optionTwo" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <script type="text/javascript">
                                    $(function () {
                                        $('#datetimepicker2').datetimepicker();
                                    });
                                </script>
                            </div>
                        </div>
                        <div class="createButton"><button type="submit" class="btn"><h3>Continue -> </h3></button>
                                
                            </div>
                                </form>
                                    


                </section>
            </div>
        </div>
    </div>
    
</body>

</html>