<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <h1>Hello World!</h1>
    <h2>this is the event create page</h2>
    <form action="<%= "/events/" + randomUrl + "/edit" %>" method="POST" style="margin:150px;">
      <input id="eventid" type="text" name="time" style="width: 300px">
      time slot choice 1<br>
      <input id="eventid" type="text" name="time2" style="width: 300px">
      time slot choice 1<br>
      <input type="submit" value="submit">
    </form>


  </body>
</html>
